.filters {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: -2rem;
}

.filters > * {
  margin-top: 2rem;
}

.filters *:not(:nth-last-child(1)) {
  margin-right: 2rem;
}

.filterWrapper {
  display: flex;
  align-items: center;
}

.filter {
  position: relative;
  padding: 0.9rem 5.1rem 0.8rem 2.2rem;

  /* remove arrow icon */
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  /* set custom arrow icon */
  background-image: url("./filter.svg");
  background-repeat: no-repeat;
  background-position-x: calc(100% - 1.4rem);
  background-position-y: 50%;

  cursor: pointer;
}

#favoriteFilter {
  -ms-transform: scale(2);
  -moz-transform: scale(2);
  -webkit-transform: scale(2);
  -o-transform: scale(2);
  transform: scale(2);
}

@media only screen and (max-width: 960px) {
  #favoriteFilter {
    -ms-transform: scale(1.6);
    -moz-transform: scale(1.6);
    -webkit-transform: scale(1.6);
    -o-transform: scale(1.6);
    transform: scale(1.6);
  }
}

@media only screen and (max-width: 760px) {
  #favoriteFilter {
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}

@media only screen and (max-width: 480px) {
  .filters {
    flex-direction: column;
    align-items: flex-start;
  }

  #favoriteFilter {
    -ms-transform: scale(1.6);
    -moz-transform: scale(1.6);
    -webkit-transform: scale(1.6);
    -o-transform: scale(1.6);
    transform: scale(1.6);
  }
}

@media only screen and (max-width: 320px) {
  #favoriteFilter {
    -ms-transform: scale(2);
    -moz-transform: scale(2);
    -webkit-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
  }

  .filters * {
    font-size: var(--font-size-filters-320);
  }
}
