#cardsField {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  grid-auto-rows: 40rem;
}

@media only screen and (max-width: 960px) {
  #cardsField {
    grid-auto-rows: 35rem;
  }
}

@media only screen and (max-width: 480px) {
  #cardsField {
    grid-template-columns: 1fr;
    grid-auto-rows: 40rem;
  }
}

@media only screen and (max-width: 320px) {
  #cardsField {
      grid-auto-rows: 35rem;
  }
}
