:root {
  --font-family: "Avenir", Arial, Helvetica, sans-serif;

  --font-size-large: 4.8rem;

  --line-height-large: 6.6rem;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

h1 {
  font-style: normal;
  font-weight: 900;
  font-size: var(--font-size-large);
  line-height: var(--line-height-large);
  color: #2e282c;
}
